.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 70%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 90%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.tarjeta-amarillo
  background: #FBEDDF

.letra-cuadrito
  color: #E53935

.color-tabs
  color: #EBF2DC

.fcp
  background-color: $color-primario !important

.fab
  background-color: $color-acento-botones !important

.fcc
  background-color: $color-secundario !important

.fcd
  background-color: #EDB780 !important

.fce
  background-color: #EFE8FA !important

.texto-negro
  color: #12263F !important
  
.exponente
  font-size: 0.7rem
  bottom: 8px
  position: relative

.exponentes
  font-size: 0.7rem
  padding-bottom: 8px
  position: relative

.color-acordeones
  background-color: #ECF3DD !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important